@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* General Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 500px;
  border: 1px solid darkgray;
  padding: 30px;
  border-radius: 5px;
}

footer {
  margin-top: 40px;
  text-align: center;
  font-size: 16px;
}

/* Link Styles */

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Response Table Styles */

th {
  padding: 10px;
  vertical-align: top;
  text-align: justify;
}

.response {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  align-items: left;
}

/* Form Styles */

form {
  margin-bottom: 40px;
}

.form-control {
  margin: 10px 0;
}

.form-control label {
  font-size: 20px;
  display: block;
}

.form-control input, textarea {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 20px;
}

textarea {
  height: 150px;
  border: 1px solid darkgray;
  border-radius: 5px;
  font-size: 16px;
}